h1 {
    color: #09f;
}

body {
    background: #dbfbff;
    font-family: sans-serif;
}

.link {
    color: red;
}

.link:hover {
    outline: 5px solid red;
}

li:first-child{
    color: pink;
}

li:last-child{
    color: purple;
}